@import 'colors';

.colorPickerBarscss {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    div {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 35px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            width: 40px;
        }
    }
}
