.spinner {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
        color: #fff;
        font-size: 17px;
        letter-spacing: 1.5px;
    }
}